header {
    text-align: center;
}
body {
    color: white;
    background: #242322;
    margin-top: 30px;
}
div.container {
    width: 50%;
    margin: auto;
    border: 1px solid gray;
    padding: 30px;
}
div.panel {
    padding-top: 10px;
    padding-bottom: 10px;
}
div.field-value {
    display:inline-block;
}
div.button {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}
.btn {
  background: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}
.btn:hover {
  background: #d7f0f7;
  text-decoration: none;
}
