header {
    text-align: center;
}
body {
    color: white;
    background: #000;
    margin-top: 30px;
}
div.container {
    background: #fff;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 1px 5px rgba(255,255,255,0.3);
    color: #222;
}
div.panel {
    background: #fff;
    width: 100%;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 1px 5px rgba(255,255,255,0.3);
    color: #222;
}
div.field-value {
    display:inline-block;
}
div.button {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}
.btn {
  background: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}
.btn:hover {
  background: #d7f0f7;
  text-decoration: none;
}
