header {
    text-align: center;
}
body {
    color: white;
    background: #000;
    margin-top: 30px;
}
div.container {
    background: #222;
    height: 45px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 1px 5px rgba(255,255,255,0.3);
    color: #fff;
}
div.panel {
    background: #222;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 1px 5px rgba(255,255,255,0.3);
    color: #fff;
}
div.field-value {
    display:inline-block;
}
div.button {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}
.btn {
  height: 45px;
    width: 150px;
    background: #fff;
    border: 2px solid #fff;
    color: #000;
    text-align: center;
    line-height: 45px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.btn:hover {
  background: #d7f0f7;
  text-decoration: none;
}
