

/*----------------------------------------*/


/*  1. Theme default CSS
/*----------------------------------------*/


/*google font*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

.clear {
    clear: both
}

::-moz-selection {
    background: #D7F0F7;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #D7F0F7;
    color: #000;
    text-shadow: none;
}

.no-mar {
    margin: 0!important;
}

.no-pad {
    padding: 0!important;
}

.no-top-pad {
    padding-top: 0!important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-theme {
    background-color: #D7F0F7;
}

.bg-gray {
    background-color: #fafafa;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    min-height: 100%;
    background: #fff;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #888;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    letter-spacing: 1px;
}


/*==========================
2.1 Header Area
===========================*/
.header-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 998;
    background-color: #000;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}

.menu-area {
    display: flex;
    align-items: center;
}

.logo {}

.logo a {
    display: inline-block;
}

.logo a img {
    max-height: 70%;
}

.main-menu {
    text-align: right;
}

.main-menu nav ul {}

.main-menu nav ul li {
    display: inline-block;
}

.main-menu nav ul li a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #d7f0f7;
    letter-spacing: 0;
    padding: 27px 36px;
    position: relative;
    padding-left: 0;
}

.main-menu nav ul li a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 22px;
    height: 2px;
    width: 0%;
    color: #d7f0f7;
    background-color: #d7f0f7;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.main-menu nav ul li:hover a:before,
.main-menu nav ul li.active a:before {
    width: 70%;
}


/*dropdown menu area start*/

.mobile_menu {}
.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu {
    background: transparent;
    margin-top: 21px;
}

.slicknav_menu .slicknav_icon-bar {
    height: 2px;
    width: 19px;
    margin: 3px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.slicknav_btn {
    background-color: transparent;
    position: relative;
    margin-top: -51px;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(1px, 7px);
    transform: rotate(45deg) translate(1px, 7px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-6px);
    transform: rotate(-45deg) translateY(-6px);
}

.slicknav_menu {
    margin-top: 0;
}

.slicknav_nav {
    background: #000;
    margin: 10px;
    padding: 6px 0px;
}

.slicknav_nav a:hover {
    background: #d7f0f7 none repeat scroll 0 0;
    border-radius: 0;
}

.slicknav_nav a {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #d7f0f7;
}


/*==========================
END Header Area
===========================*/

/*==========================
2.2 Slider Area
===========================*/

.slider-area {
    display: flex;
    align-items: center;
    height: 800px;
    background: #000000;
    padding-top: 80px;
}

.slider-img {}

.slider-img img {
    max-height: 100%;
}

.slider-inner {}

.slider-inner h1 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    line-height: 49px;
}

.slider-inner h5 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    line-height: 39px;
    margin-bottom: 50px;
    margin-top: 5px;
}

.slider-inner a {
    display: inline-block;
    position: relative;
    height: 60px;
    width: 270px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    text-align: center;
    line-height: 56px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    padding-left: 44px;
}

.slider-inner a i {
    position: absolute;
    left: 16px;
    top: 6px;
    height: 44px;
    width: 44px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 40px;
    font-size: 16px;
    padding-left: 2px;
}


/*with-gradiant*/
.with-gradiant{
    position: relative;
}
.with-gradiant:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #ffdc57, #5b1ffa) repeat scroll 0 0;
}
.full-opacity:before{
    opacity: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #ffdc57, #5b1ffa) repeat scroll 0 0;
}
.warm-canvas{
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #ffdc57, #5b1ffa) repeat scroll 0 0;
}
canvas.worms.sketch{
    max-width: 100%;
}


/*===========================
END Slider Area
===========================*/


/*===========================
2.3 Service Area
===========================*/

.service-area {
    position: relative;
    margin-top: -100px;
    background-color: transparent;
}

.service-single {
    padding: 40px 0px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.service-single img {
    max-width: 150px;
    margin-bottom: 33px;
}

.service-single h2 {
    font-size: 30px;
    font-weight: 500;
    color: #232323;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.service-single p {
    font-weight: 500;
    color: #666666;
    font-size: 15px;
}


/*===========================
END Service Area
===========================*/


/*===========================
2.4 About Area
===========================*/

.about-area {}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 30px;
    font-weight: 500;
    color: #666666;
    letter-spacing: 0;
    line-height: 37px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.section-title.text-white h2{
    color: #000;
}

.section-title h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 130px;
    background-color: #d7f0f7;
    left: calc(50% - 65px);
}

.section-title.text-white h2:before{
    background-color: #000;
}

.section-title h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 8px;
    width: 8px;
    background-color: #d7f0f7;
    left: calc(50% - 4px);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-title.text-white h2:after{
    background-color: #000;
}

.section-title p {
    font-size: 20px;
    font-weight: 500;
    color: #666666;
}
.section-title.text-white p{
    color: #000;
}
.about-left-img {}

.about-left-img img {
    max-width: 100%;
}

.about-content {}

.about-content p {
    color: #666666;
    margin-bottom: 25px;
}


/*===========================
END About Area
===========================*/


/*===========================
2.5 Feature Area
===========================*/

.feature-area {background-color: #000;}

.ft-content {
    margin-top: 76px;
    background-color: #000;
}

.ft-single {
    margin-bottom: 46px;
}

.ft-single img {
    float: left;
    margin-right: 15px;
}

.ft-content.rtl img {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

.ft-content.rtl .meta-content {
    text-align: right;
}

.ft-single h2 {
    font-size: 25px;
    font-weight: 500;
    color: #d7f0f7;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 8px;
}

.ft-single p {
    color: #fff;
}

.ft-screen-img {
    text-align: center;
}

.ft-screen-img img {
    max-width: 100%;
}



/*===========================
END Feature Area
===========================*/


/*===========================
2.6 Achivement Area
===========================*/

.achivement-area {
    position: relative;
    background: url(../img/bg/ach-bg-img.jpg) center center/cover no-repeat;
}

.achivement-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(89, 30, 251,0.9);
}

.ach-single {
    text-align: center;
}

.ach-single .icon {
    font-size: 24px;
    color: #fff;
    margin-bottom: 35px;
}

.ach-single>p,
.ach-single>span {
    font-size: 41px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    display: inline-block;
    margin-bottom: 20px;
}

.ach-single h5 {
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
}



/*===========================
END Achivement Area
===========================*/


/*===========================
2.7 Screen Area
===========================*/

.screen-area {
    position: relative;
    background-color: #000;
}
.screen-content {
    background-color: #000;
}
.screen-area img.screen-img {
    position: absolute;
    left: 50%;
    bottom: 152px;
    height: 636px;
    width: 496px;
    z-index: 111;
    transform: translateX(-50%);
}

.screen-slider {
    margin-top: 116px;
}

.screen-slider .owl-dots {
    text-align: center;
    margin-top: 130px;
}

.screen-slider .owl-dots .owl-dot {
    height: 15px;
    width: 15px;
    border: 1px solid #d7f0f7;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.screen-slider .owl-dots .active {
    background-color: #d7f0f7;
}


/*===========================
END Screen Area
===========================*/



/*===========================
2.10 Pricing Area
===========================*/
.pricing-area{background-color: #000;}
.pricing-content{background: #191919;}
.single-price{
    background: #191919;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 9px rgba(215,240,247,0.05);
    padding-bottom: 35px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-price:hover{
    box-shadow: 0px 3px 10px rgba(215,240,247,0.1);
}
.prc-head{
        background: #d7f0f7;
    text-align: center;
    padding: 40px;
}
.prc-head span{
    font-size: 24px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0;
    margin-bottom: 12px;
    display: block;
}
.prc-head h5{
    font-size: 40px;
    color: #000000;
    letter-spacing: 0;
    font-weight: 500;
    line-height: 53px;
}
.prc-head h5 small{
    color: #000000;
}
.single-price ul{
    text-align: center;
    margin-top: 10px;
}
.single-price ul li{
        font-weight: 400;
    font-size: 14px;
    color: #d7f0f7;
    line-height: 16px;
    margin-top: 19px;
    letter-spacing: 0;
}
.single-price a{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    color: #d7f0f7;
    border: 1px solid #d7f0f7;
    padding: 5px 21px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 44px;
}
.single-price a:hover{
    color: #000;
    background-color: #d7f0f7;
}

/*===========================
END Pricing Area
===========================*/

/*===========================
2.12 Call To Action
===========================*/

.call-to-action {
    position: relative;
    z-index: 1;
    background: url(../img/bg/ach-bg-img.jpg) center center/cover no-repeat;
}

.call-to-action:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(215, 240, 247,0.9);
}
.download-btns a {
    margin: 0px 32px;
    height: 50px;
    width: 195px;
    border: 2px solid #000;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    border-radius: 33px;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
}
.download-btns a:hover{
    background-color: #000;
    color: #fff;
}
.download-btns a i {
    font-size: 19px;
    margin-right: 6px;
    vertical-align: middle;
}


/*===========================
END Call To Action
===========================*/

/*===========================
END Contact Area
===========================*/
.contact-area{
    background: #000000;
}
.contact-content{}
.contact-form{}
.contact-form form{}
.contact-form input,
.contact-form select,
.contact-form textarea{
    background: #fff;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 1px 5px rgba(255,255,255,0.3);
    color: #222;
}
.contact-form textarea{
    min-height: 165px;
}
.contact-form #send{
    height: 45px;
    width: 150px;
    background: #fff;
    border: 2px solid #fff;
    color: #000;
    text-align: center;
    line-height: 45px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.contact-form #send:hover{
    background-color: #d7f0f7;
    border: 2px solid #d7f0f7;
    color: #000;
}
.contact_info{
    padding-left: 40px;
}
.contact_info .s-info{
    margin-bottom: 14px;
}
.s-info i{
        font-size: 21px;
    color: #d7f0f7;
    float: left;
    margin-right: 14px;
    margin-top: 6px;
}
.s-info .meta-content{
    overflow: hidden;
}
.s-info .meta-content span{
        font-size: 15px;
    color: #666;
    font-weight: 400;
    display: block;
}
.c-social{
    margin-top: 25px;
}
.c-social ul{}
.c-social ul li{
    display: inline-block;
}
.c-social ul li a{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin-right: 6px;
}
.c-social .icon {
    font-size: 24px;
    color: #d7f0f7;
    background-color: #d7f0f7;
    margin-bottom: 35px;
}
.c-social ul li a:hover{
    background-color: #d7f0f7;
    color: #000;    
}
.icon-cog {
  color: #d7f0f7;
}
/*===========================
END Contact Area
===========================*/

/*footer area*/
.footer-area{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #000;
    display: flex;
    align-items: center;
}
.footer-area p{
    color: #666;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #d7f0f7;
  margin: 0.5em
}
.resp-sharing-button__link:visited {
  color: pink;
}
.resp-sharing-button__link:hover {
  color: #fff
}
.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #d7f0f7;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #d7f0f7;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #000;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #000;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--whatsapp {
  background-color: #000;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}
